{:jvm-opts ["-XX:-OmitStackTraceInFastThrow"]
 :deps  {net.jeffhui/workflow-core    {:local/root "./workflow-core"}
         net.jeffhui/workflow-jdbc-pg {:local/root "./workflow-jdbc-pg"}
         net.jeffhui/workflow-kafka   {:local/root "./workflow-kafka"}}
 :aliases  {:dev   {:extra-paths ["./workflow-core/test"
                                  "./workflow-jdbc-pg/test"
                                  "./workflow-kafka/test"]}
            :build {:deps       {io.github.clojure/tools.build    {:git/tag "v0.6.2" :git/sha "226fb52"}
                                 io.github.seancorfield/build-clj {:git/tag "v0.5.2" :git/sha "8f75b81"}}
                    :paths      ["."]
                    :ns-default build}
            :test  {:extra-paths ["./workflow-core/test"
                                  "./workflow-jdbc-pg/test"
                                  "./workflow-kafka/test"]
                    :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
                    :main-opts   ["-m" "cognitect.test-runner"]
                    :exec-args   {:dirs ["workflow-core/test"
                                         "workflow-jdbc-pg/test"
                                         "workflow-kafka/test"]}
                    :exec-fn     cognitect.test-runner.api/test}}}
